<%layout("/layouts/boilerplate.ejs")-%>

<style>
  #filters {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
  }

  .filter {
    margin-right: 2.5rem;
    margin-top:1rem;
    text-align: center;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info{
    display:none;
  }
  .tax-toggle{
    border: 1px solid rgb(180, 178, 178);
    border-radius:1rem;
    padding:1rem;
    margin-left:5rem;
    height:3.25rem;
    display:flex;
    align-items:center;
  }
  
</style>


  <div id="filters">
    <div class="filter">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p>Beach</p>
    </div>
    <div class="filter">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Historical homes</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-cow"></i>
      <p>Farms</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-hippo"></i>
      <p>National parks</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Iconic cities</p>
    </div>
    <div class="filter">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div>
    
    <div id="taxToggle" class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Total after taxes</label
        >
      </div>
    </div>
  </div>



<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
  <%for(let listing of allListings){%>

  <a href="/listings/<%=listing._id%>" class="card-link index-listing">
    <div class="card listing-card">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top"
        style="height: 20rem"
        alt="..."
      />
      <div class="card-body">
        <div class="card-img-overlay">
          <h5 class="card-title">Description:</h5>
          <p class="card-text"><%=listing.description%></p>
          <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
        </div>
        <h5 class="card-title"><b><%=listing.title%></b></h5>
        <p class="card-text">
          &#8377;<%=listing.price.toLocaleString("en-IN")%>/night&nbsp;&nbsp;<i
            class="tax-info"
            >+18%GST</i
          >
        </p>
        <!-- <a href="#" class="btn btn-primary">Book</a> -->
      </div>
    </div>
  </a>

  <%}%>
</div>

<script>
  let toggleSwitch = document.getElementById("flexSwitchCheckDefault");
  toggleSwitch.addEventListener("click",()=>{
    let tax = document.getElementsByClassName("tax-info");
    for(let t of tax){
      if(t.style.display==='inline'){
        t.style.display = "none";
      }
      else{
        t.style.display = "inline";
      }
    }
  });
  
</script>
<script>
  function filtersResponse(){
    
    const toggle = document.getElementById("taxToggle");
    const filters = document.getElementById("filters")
    if(window.innerWidth<1350){
      
      toggle.style.display="none";
      filters.style.display="none";
    }
    else{
      

      filters.style.display="flex";
      toggle.style.display="flex";
    }
    
  }
  document.addEventListener('DOMContentLoaded',()=>{
    filtersResponse();
  })
  window.addEventListener('resize', function() {
    filtersResponse();
  });
</script>
